@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

.app-container {
  margin: 40px;
}